!!!
%html
  %head
    %title Believe Bar
    %link{:rel=>'stylesheet', :href=>'/stylesheets/reset.css', :type => "text/css"} 
    %link{:rel=>'stylesheet', :href=>'/stylesheets/text.css', :type => "text/css"}
    %link{:rel=>'stylesheet', :href=>'/stylesheets/960.css', :type => "text/css"}
    %link{:rel=>'stylesheet', :href=>'/stylesheets/style.css', :type => "text/css"}
    / javascripts
    %script{:type => "text/javascript", :src  => "/javascripts/jquery.js"}
    %script{:type => "text/javascript", :src  => "/javascripts/sammy.js"}
    %script{:type => "text/javascript", :src  => "/javascripts/scroll_to.js"}
    %script{:type => "text/javascript", :src  => "/javascripts/localscroll.js"}
    %script{:type => "text/javascript", :src  => "/javascripts/index.js"}
  %body#section_home
    #page.container_16
      .grid_1 &nbsp;
      #wrapper.grid_14
        #logo.grid_6.alpha
          %img{:src => "/images/logo.png"}
          
        #nav.grid_8.omega
          %ul
            %li
              %a{:href => "#section_home"} Home
            %li
              %a{:href => "#section_about"} About Us
            %li
              %a{:href => "#section_bars"} Bars
            %li
              %a{:href => "#section_contact"} Contact
        
        = yield
        
      .grid_1 &nbsp;
      .clear