body {
  border-top: 40px solid #FFFFFF; 
  border-bottom: 40px solid #FFFFFF;
}

/* WRAPPER */
#page {
  background: white url(/images/page-bg.gif) top center repeat-y;
}
.clear { clear: both;}

/* LOGO */
#logo {
  margin-top: 30px;
}
#logo img {
  width: 220px;
}
/* NAV */
#nav {
  margin-top: 90px;
}
#nav ul {
}
#nav ul li {
  font-size: 12px;
  float: left;
  list-style: none;
  text-align: center;
  background: #9999CC;
  padding: 0;
  margin: 0;
  margin: 0 6px 0 6px;
}
#nav ul li a {
  padding: 5px 0 5px 0;
  margin: 0;
  display: block;
  color: #fff;
  width: 100px;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#nav ul li a:hover {
  background: #000099;
}

/* CONTENT */
.section {
  margin-top: 20px;
  margin-bottom: 20px;
}
.section h2 {
  font-size: 34px;
  font-weight: normal;
  color: #000099;
  padding-left: 15px;
  font-family: Georgia, "Times New Roman",Serif;
}
.section .content {
  background: #fff;
}
.section .content p, .section .content h3 {
  margin: 0 30px 0 30px;
  padding: 10px 0 10px 0;
}
.section .content h3 {
  color: #999CCC; font-size: 24px; padding-top: 30px;
}
.section .content p {
  font-size: 16px;
}

/* FOOTER */
#footer {
  margin-top: 150px;
}